body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #eaf1f3;
  background-image: url('https://source.unsplash.com/1HplMDoRvTo/1300x700');
}

.weather-icons {
  stroke-width: 1;
}
