.Header__container {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px;
  padding: 1rem 1rem;
}

.Header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__location-and-date-area {
  line-height: 1.4rem;
}

.Header__location {
  font-size: 1.2rem;
}

.Header__date {
  font-size: 0.9rem;
  opacity: 0.8;
}

.Header__weather-options-area {
  display: flex;
  cursor: pointer;
}

.Header__weather-options-area :not(:last-child) {
  margin-right: 2rem;
}

.off {
  opacity: 0.4;
}

.Header__current:hover,
.Header__hour:hover,
.Header__day:hover {
  text-decoration: underline;
}
